<mat-form-field>
  <mat-label>Level</mat-label>
  <mat-select
    [formControl]="level"
    (selectionChange)="onLevelChange()"
  >
    @for (level of createOptions(levelsCount().count); track $index) {
      <mat-option [value]="level + 1">{{ level + 1 }}</mat-option>
    }
  </mat-select>
</mat-form-field>

@if (roundsCount()) {
  <mat-form-field>
    <mat-label>Round</mat-label>
    <mat-select
      [formControl]="round"
      (selectionChange)="onRoundChange()"
    >
      @for (round of createOptions(roundsCount().count); track $index) {
        <mat-option [value]="round"> {{ round + 1 }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
}
