<mat-form-field>
  <mat-label>Level</mat-label>
  <mat-select [(value)]="currentRound">
    <mat-option
      *appTimes="totalLevels(); let level"
      [value]="level + 1"
      >{{ level + 1 }}
    </mat-option>
  </mat-select>
</mat-form-field>

@if (totalRounds()) {
  <mat-form-field>
    <mat-label>Round</mat-label>
    <mat-select [(value)]="currentLevel">
      <mat-option
        *appTimes="totalRounds(); let round"
        [value]="round"
      >
        {{ round + 1 }}
      </mat-option>
    </mat-select>
  </mat-form-field>
}
