<mat-form-field appearance="outline">
  <mat-label>Level</mat-label>
  <mat-select [(value)]="currentLevel">
    <mat-option
      *appTimes="totalLevels(); let level"
      [value]="level + 1"
    >{{ level + 1 }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Puzzle</mat-label>
  <mat-select [(value)]="currentPuzzle">
    <mat-option
      *appTimes="totalPuzzles(); let puzzle"
      [value]="puzzle"
    >
      {{ puzzle + 1 }}
    </mat-option>
  </mat-select>
</mat-form-field>
