<app-hints [hints]="hints()" />

<mat-card class="board" [style]="boardStyles()">
  @for (tiles of solvedTiles(); track $index) {
    <app-tiles [tiles]="tiles" [solved]="true" />
  }
  <app-tiles [tiles]="placedTiles()" (cardClick)="moveCardToSource($event)" />
</mat-card>

@if (!hasNoAvailableTiles()) {
  <app-tiles
    class="available"
    [style.width]="'800px'"
    [tiles]="availableTiles()"
    (cardClick)="moveCardToResult($event)"
  />
}

@if (showButtons()) {
  <div class="puzzle-actions">
    @if (areTilesPlacedCorrectly()) {
      <button mat-raised-button (click)="continue()">continue</button>
    } @else {
      <button mat-raised-button (click)="autocompleteSentenceSolving()">auto complete</button>
      <button mat-raised-button (click)="checkCards()">check</button>
    }
  </div>
}
