<mat-card style="height: 400px">
  @for (sentence of completedSentences; track sentence) {
    <div class="result">
      @for (word of sentence; track word) {
        <div class="word" [style]="{ width: cardWidth(word.word.length) }">
          {{ word.word }}
        </div>
      }
    </div>
  }
  <div class="result">
    @for (card of result(); track card) {
      <mat-card
        appWordCard
        class="word"
        [style]="{ width: cardWidth(card.word.length) }"
        (click)="moveToSource($index)"
        @filterAnimation
        >{{ card.word }}</mat-card
      >
    }
  </div>
</mat-card>

<div class="source">
  @for (card of source(); track card) {
    <mat-card
      appWordCard
      class="word"
      [style]="{ width: cardWidth(card.word.length) }"
      (click)="moveToResult($index)"
      @filterAnimation
      >{{ card.word }}</mat-card
    >
  }
</div>

@if (isWin()) {
  <button (click)="nextSentence()">Continue</button>
}
