@let cardHeight = 35;
@let numberOfSentences = 10;
@let resultHeight = cardHeight * numberOfSentences + 'px';

<app-hints />

<mat-card [style]="{ height: resultHeight }">
  @for (sentence of completedSentences; track sentence) {
    <div
      class="result completed"
      [class.first-sentence]="$index === 0"
      [class.last-sentence]="$index === numberOfSentences - 1"
    >
      @for (card of sentence; track card) {
        <div
          class="word"
          [class.first-word]="$index === 0"
          [class.last-word]="$index === sentence.length - 1"
          [style]="getCardStyles(card, picture, resultHeight)"
        >
          <span>
            {{ card.word }}
          </span>
        </div>
      }
    </div>
  }

  <app-card-list
    cdkDropList
    #resultList="cdkDropList"
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="result()"
    [cdkDropListConnectedTo]="[sourceList]"
    (cdkDropListDropped)="drop($event)"
    [source]="result()"
    [picture]="picture"
    (onCardMove)="moveToSource($event)"
  />
</mat-card>

<app-card-list
  cdkDropList
  #sourceList="cdkDropList"
  cdkDropListOrientation="horizontal"
  cdkDropList
  [cdkDropListData]="source()"
  [cdkDropListConnectedTo]="[resultList]"
  (cdkDropListDropped)="drop($event)"
  [source]="source()"
  [picture]="picture"
  (onCardMove)="moveToResult($event)"
/>

@if (source().length === 0) {
  <button mat-raised-button (click)="startResultAutoComplete()">Auto Complete</button>
  <button
    mat-raised-button
    color="primary"
    (click)="isWin() ? nextSentence() : startCardsChecking()"
  >
    {{ isWin() ? 'Continue' : 'Check' }}
  </button>
}
