:host {
  display: flex;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;


  &.correct {
    border: 1px solid green;
  }

  &.wrong {
    border: 1px solid red;
  }
}
