<mat-card [style]="getBoardStyles()">
  <div class="result">
    @for (card of result$ | async; track card.originalIndex) {
      <mat-card
        class="card"
        [style]="getCardStyles(card)"
        [class.correct]="card.positionStatus === 'CORRECT'"
        [class.wrong]="card.positionStatus === 'WRONG'"
        (click)="moveToSource($index)"
      >
        <mat-card-content>
          {{ card.word }}
        </mat-card-content>
      </mat-card>
    }
  </div>
</mat-card>

<div class="source">
  @for (card of source$ | async; track card.originalIndex) {
    <mat-card
      class="card"
      (click)="moveToResult($index)"
      [style]="getCardStyles(card)"
    >
      <mat-card-content>
        {{ card.word }}
      </mat-card-content>
    </mat-card>
  }
</div>
