<app-hints [hints]="hints()" />

<mat-card [style]="getBoardStyles()">
  @for (completed of completedSentences(); track $index) {
    <app-card-list [list]="{ type: 'completed', cards: completed }" />
  }
  @if (result(); as result) {
    <app-card-list
      [list]="{ type: 'result', cards: result }"
      (cardClick)="moveCardToSource($event)"
    />
  }
</mat-card>

@if (source(); as source) {
  <app-card-list
    [list]="{ type: 'source', cards: source }"
    (cardClick)="moveCardToResult($event)"
  />
}

@if (isSourceEmpty()) {
  <button
    mat-raised-button
    (click)="autocompleteSentenceSolving()"
  >
    auto complete
  </button>
  <button
    mat-raised-button
    (click)="isResultCorrect() ? handleNextStep() : checkCards()"
  >
    {{ isResultCorrect() ? 'continue' : 'check' }}
  </button>
}
