<app-hints [hintsToShow]="hintsToShow()" />

<mat-card [style]="getBoardStyles()">
  @for (completed of completedSentences; track $index) {
    <app-card-list
      [list]="{ type: 'completed', cards: completed }"
      (cardClick)="moveToSource($event)"
    />
  }
  @if (result()) {
    <app-card-list
      [list]="{ type: 'result', cards: result() }"
      (cardClick)="moveToSource($event)"
    />
  }
</mat-card>

@if (source()) {
  <app-card-list
    [list]="{ type: 'source', cards: source() }"
    (cardClick)="moveToResult($event)"
  />
}

@if (isSourceEmpty()) {
  <button
    mat-raised-button
    (click)="isResultCorrect() ? handleNextStep() : checkCards()"
  >
    {{ isResultCorrect() ? 'continue' : 'check' }}
  </button>
}
